<h1>Welcome Parent</h1>

<!-- {% if errormessage %}<p><strong> {{ errormessage}} </strong></p>{% endif %} -->

<form action= "{% url 'parentDone' %}" method="post">
{% csrf_token %}
<p>User Name:</p><input type="text" name="user_name" value="">
<p>Pass</p><input type="password" name="password" value="">
<p>First name</p><input type="text" name="first" value="">
<p>last name</p><input type="text" name="last" value="">
<p>street</p><input type="text" name="street" value="">
<p>street 2</p><input type="text" name="street2" value="">
<p>City</p><input type="text" name="city" value="">
<p>State</p><input type="text" name="state" value="">
<p>Phone</p><input type="text" name="phone" value="">
<p></p><input type="submit" name="Submit" value="Submit">



</form>
